#favoritesList
{
	float: left;
	background-color: #f8f;
	padding: .5em;
	width: 30%;
	padding-bottom: 30%;
	margin-right: 10px;
	margin-left: 0px;
}
body
{
	margin: 0%;
	background-color: #eee;
}
ul
{
	list-style-type: none;
}

h1
{
	margin-top: 0%;
	margin-bottom: 1px;
	padding: 1.2em;
	text-align: center;
	background-color: #a77;
}

h1, h2, h3
{
		font-family: "Arial Rounded MT Bold", "Geneva", "Optima", sans-serif;
}